<ul class="list-group">
    <li class="list-group-item flex-column d-flex justify-content-between align-items-center">
        <h1 class="mb-1">{{title}}</h1>
        <p class="mb-1">{{post_content}}</p>
        <small>created by {{user.username}} on {{created_at}}</small>
    </li>
</ul>