<form class="new-post-form">
    <h2 class="mt-5">Create New Post</h2>
  <div class="form-group">
    <input type="text" class="form-control m-2" id="post-title" placeholder="Enter your Title">
    <textarea id="post-body" class="form-control m-2" name="post-body" rows="3" placeholder="Enter your Post"></textarea>
    <button type="submit" class="btn btn-primary mt-2">Create Post</button>
  </div>
</form>
<script src="/javascript/add-post.js"></script>