{{!-- <button type="submit" class="btn btn-primary mt-2">Add New Post</button> --}}
<a href="/dashboard/add-post" class="edit-link btn btn-primary mb-5 mt-2">Add New Post</a>

{{#if posts.length}}
    <h2 class="mt-2">Your Posts</h2>
    {{#each posts as |post|}}
        {{> post-info post}}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link btn btn-success mb-5 mt-2">Edit post</a>
    {{/each}}
{{/if}}