<form class="login-form p-5">
  <div class="mb-1">
    <label for="username-login" class="form-label">User name</label>
    <input type="text" class="form-control" id="username-login">
  </div>
  <div class="mb-1">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>

<form class="signup-form p-5">
  <div class="mb-1">
    <label for="username-signup" class="form-label">User name</label>
    <input type="text" class="form-control" id="username-signup">
  </div>
  <div class="mb-1">
    <label for="password-login" class="form-label">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<script src="/javascript/login.js"></script>